<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!--
    <context-param>
        <description>All URLs will be created using this base</description>
        <param-name>org.fourthline.cling.bridge.localBaseURL</param-name>
        <param-value>http://my.wan.hostname.com:8080</param-value>
    </context-param>
    -->

    <!--
    <context-param>
        <description>Initializes JUL with a System.out logging handler and the given settings</description>
        <param-name>org.fourthline.cling.bridge.loggingConfig</param-name>
        <param-value>/WEB-INF/logging.properties</param-value>
    </context-param>
    -->

    <listener>
        <listener-class>org.fourthline.cling.bridge.WARBridgeContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Bridge Servlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>

        <!-- We don't want a dependency of 500kb just for scanning two annotations on classes -->
        <init-param>
            <param-name>resteasy.scan</param-name>
            <param-value>false</param-value>
        </init-param>

        <init-param>
            <param-name>resteasy.resources</param-name>
            <param-value>
                org.fourthline.cling.bridge.gateway.ActionResource,
                org.fourthline.cling.bridge.gateway.DeviceResource,
                org.fourthline.cling.bridge.gateway.RegistryResource,
                org.fourthline.cling.bridge.gateway.ServiceResource,
                org.fourthline.cling.bridge.link.LinkResource,
                org.fourthline.cling.bridge.link.proxy.ProxyResource
            </param-value>
        </init-param>

        <init-param>
            <param-name>resteasy.providers</param-name>
            <param-value>
                org.fourthline.cling.bridge.provider.XHTMLBodyWriter
            </param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Bridge Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Gateway Filter</filter-name>
        <filter-class>org.fourthline.cling.bridge.gateway.GatewayFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Gateway Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Auth Filter</filter-name>
        <filter-class>org.fourthline.cling.bridge.auth.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Auth Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
